* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* body */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #060AB2;
    color: white;
}

/* main div container */
.container {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    margin:2rem;
}

.memory-box {
    margin: 1%;
    transform-style: preserve-3d;
    transition: transform .9s;
}

.memory-box:active {
    transform: scale(0.80);
}

.memory-box.flip {
    transform: rotatey(180deg);
}

.front-look,
.back-look {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
    cursor: pointer;
}

.front-look {
    transform: rotateY(180deg);
}
/* button to restart */
#button{
    font-size: 130%;
    padding: 2%;
    border-radius: 50%;
}

/* responsive for tab */
@media (min-width:500px) and (max-width:900px){
    .container{
        width: 400px;
        height: 400px;
    }
}


/* responsive for mobile */
@media (max-width:499px){
    .container{
        width: 200px;
        height: 200px;
    }
}